<%= form_for(@point) do |f| %>
  <% if @point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</h2>

      <ul>
      <% @point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :lat, class: "form-control", placeholder: 'lat' %>
  </div>
  <div class="field">
    <%= f.text_field :long, class: "form-control", placeholder: 'long' %>
  </div>
  <div class="field">
    <%= f.text_field :title, class: "form-control", placeholder: 'titulo' %>
  </div>
  <div class="field">
    <%= f.text_area :desc, class: "form-control", placeholder: 'descripcion' %>
  </div>
  <div class="actions">
    <%= f.submit 'crear', class: "btn btn-primary" %>
  </div>
<% end %>
