<%= render 'admin/nav' %>

<div class="container table-responsive">
  <div>
    <h1>Puntos</h1>
    <%= link_to 'Punto nuevo', new_point_path, class: "button pull-right" %>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Titulo</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @points.each do |point| %>
        <tr>
          <td><%= point.lat %></td>
          <td><%= point.long %></td>
          <td><%= point.title %></td>
          <td class="edicion">
            <%= link_to point do  %>
              <i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="ver"></i>
            <% end %>
            <%= link_to edit_point_path(point) do  %>
              <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="editar"></i>
            <% end %>
            <%= link_to point, method: :delete, data: {confirm: "Estas seguro?"} do  %>
              <i class="fa fa-remove" data-toggle="tooltip" data-placement="top" title="destruir"></i>
            <% end %>


          </td>
          
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
