<%= render 'shared/nav' %>

<div class="site-wrapper" id="inicio">
      <%= image_tag 'cover.jpg', class: "clearfix" %>
</div>

<section id="video" class="">
    <video autoplay muted loop>
        <source src="https://dl.dropboxusercontent.com/u/32178315/holayadira/MVI_6789.mp4" type="video/mp4">
        Your browser does not support the video tag      
    </video>
</section>
<section id="info" class="padding-b">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="h-container block-center">
                    <h2 class="upper white"><b>Hola</b><br>soy yadira</h2>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="">
                    <br><br>
                    <div class="box-info">
                        <h4>Datos personales:</h4>
                        <div class="box-border">
                            <p>Yadira del Carmen Guzmán Alvizo.</p>
                            <p>Arandense de nacimiento, de corazón y por vocación.
                            </p>
                            <p>Tengo 34 años.
                            </p>   
                            <p>Casada con Carlos, mamá de Monse y de Mariana.</p>
                        </div>
                    </div>
                    <br>
                    <div class="box-info">
                        <h4>Puesto solicitado:</h4>
                        <div class="box-border">
                            <p>Ser el mejor presidente de la historia de Arandas.</p>
                        </div>
                    </div>
                    <div class="box-info">
                        <h4>Formación académica:</h4>
                        <div class="box-border">
                            <p><b>Licenciatura:</b> Centro Universitario de los Altos.</p>
                            <p>Licenciatura en Administración.</p>
                            <p>2000 - 20004</p>
                            <p><b>Maestría:</b> Instituto Superior de Estudios para la familia. Universidad Anáhuac.</p>
                            <p>Maestria en Ciencias de la Familia.</p>
                            <p>2010 - 2013</p>
                        </div>
                    </div>
                    <div class="box-info">
                        <h4>Experiencia profesional:</h4>
                        <div class="box-border">
                            <p><b>Directora general:</b> Instituto Alteño para el Desarrollo de Jalisco, AC.</p>
                            <p>2009 - 2014</p>
                            <p><b>Coordinador técnico administrativo:</b> Agencia de Desarrollo Rural validado por la UTN-FAO. PESA-FAO (Organización de las Naciones Unidas para la Alimentación y la Agricultura.</p>
                            <p>2009 - 2010</p>
                            <p><b>Directora general:</b> Sistema para el Desarrollo Integral de la Familia. DIF Arandas.</p>
                            <p>2007 - 2009</p>
                        </div>
                    </div>
                      
                </div>
            </div>
            <div class="col-md-6 col-sm-6 hidden-xs">
                    <br><br>
                    <div class="box-info">
                        <h4>Otros estudios y actividades:</h4>
                        <div class="box-border">
                            <p>Diplomado en Capacidades Directivas, 2011.</p>
                            <p>Capacitación en Implementación de Gestión de Calidad ISO 9001:2008 en el 2012.</p>
                            <p>Congreso Internacional de la Familia, ediciones del 2007 al 2011.</p>
                            <p>Taller 'Habilidades Directivas', 2002.</p>
                            <p>Diplomado en Orientación Familiar, 2008 - 2009.</p>
                            <p>Taller 'Toma de Decisiones en Consenso', 2014.</p>
                            <p>Diplomado en Habilidades y Técnicas de la Comunicación, 2014.</p>
                        </div>
                    </div>
                    <div class="box-info">
                        <h4>Aptitudes y habilidades:</h4>
                        <div class="box-border">
                            <p>Comprometida con mi trabajo, exigente con mis resultados y con el de la gente que me rodea.</p>
                            <p>Mis 3 libros favoritos (<b><u>yo sí me acuerdo</u></b>) son 'El Hombre en busca del sentido' de Viktor Frankl, 'En busca de respuestas' de Felipe González y 'Mi planta de naranja lima' de Vasconcelos.</p>
                            <p>Soy buena hablando en público, pero -tengo que reconocerlo- muy mala dibujando.</p>
                            <p>Mi color favorito es el azul, aunque sea coincidencia.</p>
                        </div>
                    </div>
                <!-- <div class="cont-img">
                    <%= image_tag 'person.svg', class: "img-flex" %>
                </div> -->
            </div>
        </div>
    </div>
</section>

<div class="back back-fixed1 text-center">
    <div class="container-fluid">
        <h3>"La democracia es el gobierno del pueblo, por el pueblo y para el pueblo"</h3>
        <p>- Abraham Lincoln</p>
    </div>
</div>



<section class="" id="ruta">

    <div class="">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
                <div class="cont-text-map">
                    <div class="recorrido text-center">
                        <%= image_tag 'distance.svg', class: "img-flex" %>
                    </div>
                    <h2 class="">Recorrido del día de Yadira</h2>
                    
                </div>

            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12 ">
                <div id="map_wrapper">
                    <div id="map_canvas" class="mapping">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="back back-fixed2 text-center">
    <div class="container-fluid">
        <h3>"La democracia no es el silencio, es la claridad con que se exponen los problemas y la existencia de medios para resolverlos."</h3>
        <p>- Enrique Múgica Herzog</p>
    </div>
</div>


<section id="vota" class="padding-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
                <div class="vote text-center">
                    <%= image_tag 'vote1.svg', class: "img-flex" %>
                </div>
                <h2 class="text-center">Democracia participativa</h2>
                
            </div>
            <div class="col-lg-8 col-sm-8 col-xs-12">
                <% if @poll %>
                  <div id="debate_1_<%= @poll.point %>"></div>
                  <script>
                    (function () {
                      var opst = document.createElement('script');
                      var os_host = document.location.protocol == "https:" ? "https:" : "http:";
                      opst.type = 'text/javascript';
                      opst.async = true;
                      opst.src = os_host + '//' + 'www.opinionstage.com/polls/<%= @poll.point %>/embed.js';
                      (document.getElementsByTagName('head')[0] ||
                        document.getElementsByTagName('body')[0]).appendChild(opst);
                    }());
                  </script>
                <% end %>
            </div>
        </div>
    </div>
</section>

<section id="contacto" class="padding-b">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h3 class="upper2"><b>contacto</b></h3>

            </div>
            <div class="col-lg-4"></div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <%= image_tag 'pan.png', class: "img-flex img-footer" %>
            </div>
            <div class="col-lg-4 col-sm-12 col-xs-8 col-md-12 contacto-mail">
                <p class="text-center">Muchos caminos conducen a Yadira. Los más rápidos son los siguientes. 
                </p>
                <a href="mailto:<%= EMAIL %>">
                    <div class="button y"><%= EMAIL %></div>
                </a>
                <a href="mailto:<%= EMAIL2 %>">
                    <div class="button y"><%= EMAIL2 %></div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-12 col-xs-12">
                <div class="row-m">
                    <a href="https://twitter.com/<%= TWITTER_USERNAME1 %>" data-toggle="tooltip" data-placement="top" title="@hola_yadira">
                        <div class="bttn blue-t">
                            <%= image_tag 'twitter.svg' %>
                        </div>
                    </a>
                    <a href="<%= FACEBOOK_URL2 %>" data-toggle="tooltip" data-placement="top" title="Yadira Guzmán">
                        <div class="bttn blue-f">
                            <%= image_tag 'face.svg' %>
                        </div>
                    </a>
                 
                </div>
               <div class="row-m">
                    <a href="<%= YOUTUBE %>" data-toggle="tooltip" data-placement="top" title="Hola Arandas">
                        <div class="bttn red-y">
                            <%= image_tag 'youtube.svg' %>
                        </div>
                    </a>
                    <a href="https://vine.co/u/1193340633595707392" data-toggle="tooltip" data-placement="top" title="Hola Yadira">
                        <div class="bttn green-v">
                            <%= image_tag 'vine.svg' %>
                        </div>
                    </a>
                    
                </div>
               
                <div class="row-m">
                    <a href="https://instagram.com/hola_yadira/" data-toggle="tooltip" data-placement="top" title="hola_yadira">
                        <div class="bttn blue-f">
                            <%= image_tag 'instagram.svg' %>
                        </div>
                    </a>
                </div>

                
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Copyright todos los derechos reservados 2015</p>
    </div>
</footer>
























<script type="text/javascript">
	$(function(){
	// cargar el mapa asincrono

	var script = document.createElement('script');
	script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
	document.body.appendChild(script);

});



function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap',
        scrollwheel: false,
        zoomControl: true,
        panControl: false,
        mapTypeControl: false,
        streetViewControl: true,
        zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL,
            position: google.maps.ControlPosition.RIGHT_BOTTOM
        }
    };
                    
    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    map.setTilt(45);
        
    // Multiple Markers


    var markers = <%= raw @list_markers %>

    var infoWindowContent = [
        <% @marker_info.each do |m| %>
            ['<div class="info_content">' + '<h3><%= m.title %></h3>' + '<p><%= m.desc %></p>' + '</div>'],
        <% end %>
    ]

        
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        
        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(11);
        google.maps.event.removeListener(boundsListener);
    });
    
}
	
</script>