<!-- Fixed nav -->
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= SITE_TITLE %></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(admin_path) %>"><%= link_to 'Home', admin_path %></li>
            <li class="<%= 'active' if current_page?(points_path) %>"><%= link_to 'Puntos', points_path %></li>
            <li class="<%= 'active' if current_page?(polls_path) %>"><%= link_to 'Encuestas', polls_path %></li>

            
          </ul>

          <!-- right side of nav -->
          <ul class="nav navbar-nav navbar-right">
          	<li>
              <a href="<%= root_path %>" class="fix">
                <i class="fa fa-share" data-toggle="tooltip" data-placement="bottom" title="ir a sitio"></i>
              </a>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: "fix" do %>
                <i class="fa fa-sign-out" data-toggle="tooltip" data-placement="bottom" title="salir"></i>
              <% end %>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>