<%= render 'nav' %>

<div class="container text-center">

	<div class="inline-div">
		<h2><%= @puntos %></h2>
		<p>Puntos</p>
	</div>

	<div class="inline-div">
		<h2><%= @encuestas %></h2>
		<p>Encuestas</p>
	</div>
	
</div>
