<nav>
		<ul class="cd-primary-nav">
			<li><a class="nav" href="#inicio">Inicio</a></li>
			<li><a class="nav" href="#info">Datos de la presidenta</a></li>
			<li><a class="nav" href="#ruta">Ruta del día</a></li>
			<li><a class="nav" href="#vota">Democracia participativa</a></li>
			<li><a class="nav" href="#contacto">Contacto</a></li>
		</ul>
</nav>