<%= render 'admin/nav' %>

<div class="container table-responsive">

  <h1>Encuestas</h1>
  <p>Recuerda que la encuesta que se muestra en el frontpage es solo el id más reciente.</p>
  <p>Los id's de las encuestas los puedes generar en la siguiente página <a href="http://www.opinionstage.com/profiles/hola_yadira/dashboard">Opinion Stage</a></p>
  <p>user: hola_yadira</p>
  <p>password: 19891001abc </p>
  <%= link_to 'Nuevo id de encuesta', new_poll_path, class: "button pull-right" %>


  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @polls.each do |poll| %>
        <tr>
          <td><%= poll.point %></td>
          
          <td class="edicion">
            <%= link_to poll do %>
              <i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="ver"></i>
            <% end %>
            <%= link_to edit_poll_path(poll) do %>
              <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="editar"></i>
            <% end %>
            <%= link_to poll, method: :delete, data: { confirm: 'Estas seguro?'} do %>
              <i class="fa fa-remove" data-toggle="tooltip" data-placement="top" title="destruir"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>

