<%= render 'admin/nav' %>
<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>id:</strong>
	  <%= @poll.point %>
	</p>

	<%= link_to 'Edit', edit_poll_path(@poll) %> |
	<%= link_to 'Back', polls_path %>
</div>
