// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

.admin {
	background: white;
	padding-top: 70px;
	font-family: 'Lato', verdana, arial;

	.inline-div {
		display: inline-block;
		margin: 1em 2em;
	}
	.inline {
		display: inline-block;
	}
	.button {
		// background: green;
		border-radius: 23px;
		padding: 0.5em 1em;
		border: 1px solid #6f5192;
		color: #654a85;
		&:hover {
			text-decoration: none;

		}
	}

	.navbar {
		background: #654A85;
		

		border: none;
		// box-shadow: 0px 1px 2px #333;
		a {
			color: white;
			&:hover {color: white;}
		}
		.navbar-right {
			.fix {
				margin-top: -19px;
			}
		}
	}
	.navbar-default {

		.navbar-nav>li>a {
			color: white;
			font-weight: 300;
			font-family: 'Lato', verdana;
			&:hover {
				color: white;
				background: #523c6c;
			}
		}
		.navbar-nav>.active>a {
			background: #523c6c;
			&:hover {background: #523c6c;}
		}
	}
	.dropdown-menu>li>a {
		color: #666;
	}
	.table {
		.edicion {
			a {
				margin: 0 0.5em;
				color: #78589e;
				.fa-remove {color: #EA3B3D;}
				i {
					font-size: 1.3em;
				}
			}
		}
	}
}

.padding-log-in {
	padding: 5em 0;
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
		h2, .check-box {margin-bottom: 1em;}
		.check-box {
			font-weight: normal;
		}
	input[type="email"]{
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	input[type="password"]{
		margin-bottom: 10px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	.form-control {
		position: relative;
		height: auto;
		padding: 10px;
		font-size: 16px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		&:focus {
			z-index: 2;
		}
	}
}

.log-in {
	height: 700px;
	background: asset-url('back-blue.jpg') no-repeat;
	background-position: center;
	background-size: 100% 100%;
	font-family: 'Lato', verdana;

	h2 {
		// color: white;
		color: #323E8F;
		font-weight: 300;
	}
	.padding-log-in {
		background: white;
		border-radius: 5px;
	}
	.logo-pan {
		padding: 2em 0;
		img {max-width: 100%; width: 100px;}
	}
}















