// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	position: relative;
	min-height: 100%;
}
body {
	// margin-bottom: 60px;
	overflow-x: hidden;
}

#os-wrapper #os-footer .os-powered-by {
	display: none;
}
.os-powered-by {
	display: none;
}


.upper {
	text-transform: uppercase;
	font-size: 3.5em;
	position: relative;
	// left: 50%;
	// transform: translateX(-50%);
	// -webkit-transform: translateX(-50%);
	// -moz-transform: translateX(-50%);
	// font-weight: bold;
}
.upper2 {
	text-transform: uppercase;
	font-size: 2em;
	position: relative;
}


.h-container {
	width: 23em;
	height: auto;
}
.yellow {
	color: #F59403;
}
.white {
	color: white;
}
.block-center {
	margin: 0 auto;
	float: none;
}
.margin-top-1 {
	margin-top: 2em;
}
.padding-b {
	padding: 3em 0;
}

#map_wrapper {
    height: 600px;
}

#map_canvas {
    max-width: 100%;
    height: 100%;
}


.container .text-muted {
	margin: 40px 0;
}
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}





/* Extra markup and styles for table-esque vertical and horizontal centering */
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
  h1 {
  	color: white;
  	font-size: 4em;
  	text-transform: uppercase;
  	font-weight: bold;
  }
}





/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}



// footer

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	// height: 60px;
	background: rgba(30,30,30,0.95);
	// z-index: -99999;
}
section {
	// z-index: 99999;
}





// button trigger and menu

.cd-primary-nav.fade-in {
	a {
		color: rgba(250,250,250,0.6);
		text-decoration: none;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		&:hover {
			color: white;
		}
	}
}

#inicio {
	position: relative;
	top: -19px;
	z-index: 9999;
	img {
		max-width: 100%;
		position: relative;
		// float: left;
	}
}


#info {
	position: relative;
	z-index: 99;
	// background: asset-url('back-blue.jpg') no-repeat;
  background: #343a91;
  background: -moz-linear-gradient(-45deg, #343a91 33%, #2058c9 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(33%, #343a91), color-stop(100%, #2058c9));
  background: -webkit-linear-gradient(-45deg, #343a91 33%, #2058c9 100%);
  background: -o-linear-gradient(-45deg, #343a91 33%, #2058c9 100%);
  background: -ms-linear-gradient(-45deg, #343a91 33%, #2058c9 100%);
  background: linear-gradient(135deg, #343a91 33%, #2058c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a91', endColorstr='#2058c9',GradientType=1 );
	// background-size: 100%;
	// background-size: cover;
	h1, h2, h3, h4, p {
		color: white;
	}
	.box-info {
		h4 {
			background: white;
			color: #003884;
			padding: 10px;
		}
		.box-border {
			position: relative;
			top: -10px;
			padding: 10px;
			border: 1px solid white;
		}
	}
}

#video {
  margin-top: -30rem;
  margin-bottom: -30rem;
  background: black;
  padding: 24rem 0;
	video {
		width: 100%;
	}
}

#ruta {
	.cont-text-map {
		position: relative;
		top: 50%;
		margin: 3em 0;
		img {
			width: 9em;
		}
	}
}

.back {
	padding: 14em 0; 
	width: 100%;
	h3, p {
		// margin: 6em 0;
		color: white;
		text-shadow: 4px 3px 6px #333;
	}
}
.back-fixed1 {
	background: asset-url('back-2.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	
}
.back-fixed2 {
	background: asset-url('back-1.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#vota {
	iframe {
		width: 100%;
		max-width: 100%;
	}
	.vote img {
		margin-top: 1em;
		width: 6em;
	}
}
#contacto {
	background: rgba(30,30,30,0.9);

	p { color: white;}
	h3 {color: white}
	a {
		text-decoration: none;
		color: white;
	}
	.img-footer {
		width: 13em;
	}
	.button {
		padding: 1em;
		border: 2px solid transparent;

		// width: 20em;
		border-radius: 3px;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		margin-bottom: 0.5em;
		&:hover {
			border: 2px solid white;
		}
	}
	.y {
		background-color: #023689;
	}
	.blue-t {background: #00C3E7}
	.blue-f {background: #395A93}
	.red-y {background: #E1493F}
	.green-v {background: #00BF93}
	.row-m {
		margin-bottom: 5px;
		// display: block;
		// clear: both;
		a {
			// float: left;
			margin: 0 1px;
			width: 4em;
			height: 4.3em;
		}
	}
	.bttn {
		border-radius: 3px;
		border: 2px solid transparent;
		padding: 5px;
		width: 4em;
		height: 4em;
		display: inline-block;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		&:hover {
			border: 2px solid white;
			// background: transparent;
		}
		img {
			position: relative;
			top: 7px;
			left: -2px;
			max-width: 100%;
			width: 2em;
		}
	}
}


.contadores {
	.cd-nav-trigger {
		display: none;
	}
}



@media (max-width: 768px){
	#social .twitter-img {
		width: 2em;
	}
	#social h2 {
		font-size: 1.5em;
	}
	#info h2 {
		font-size: 2.5em;
		text-align: center;
	}
	.slides{
	
		p {
			font-size: 10px;
			span.bold-span {
				font-size: 0.8em;
			}
		}
	}
	#ruta {
		.cont-text-map {
			width: 90%;
			margin: 0 auto;
			text-align: center;
			padding: 3em 0;
			img {
				margin-top: 0em;
				width: 5em;
			}
		}
	}
	#contacto p {
		text-align: center;
	}
	.contacto-mail {margin: 0 auto; float: none;}
	#map_wrapper {
    height: 350px;
	}
	#info {
		h2{}
		h4{font-size: 14px;}
		p{font-size: 10px;}
	}
}

@media (min-width: 768px) {

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  .cont-text {
		padding-top: 10%;
		// -webkit-transform: translateY(-40%);
	 //  -moz-transform: translateY(-40%);
	 //  transform: translateY(-40%);
	}
	.cont-img {
		overflow: hidden; 
		height: 50em;
		// background: green;

	}
	.img-flex {
		max-width: 100%;
	}
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
 
}