<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
  <title><%= SITE_TITLE %></title>
  <meta name="description" content="<%= META_DESCRIPTION %>">
  <meta name="keywords" content="<%= META_KEYWORDS %>">
  <link rel="shortcut icon" href="<%= asset_path 'y-fav.png' %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <%= csrf_meta_tags %>
</head>
<body class="<%= @body_class ? @body_class : 'default' %>">

<main class="cd-content">
	<%= yield %>
</main>	

<div class="cd-overlay-nav">
		<span></span>
</div> <!-- cd-overlay-nav -->

<div class="cd-overlay-content">
		<span></span>
</div> <!-- cd-overlay-content -->

<% if current_page?(root_path) %>
	<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
<% end %>

</body>
</html>
